<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/log.css" />
  <link rel="stylesheet" href="../static/css/order.css" />
  <link rel="stylesheet" href="../static/css/thankyou.css" />
  <script src="../static/js/header.js" defer></script>
  <script src="../static/js/user.js" defer></script>
  <script src="../static/js/thankyou.js" defer></script>
  <title>台北一日遊</title>
</head>

<body>
  <div id="headerContainer"></div>
  <main>
    <div class="ordercontainer">
      <div class="ordercontainer_imgdiv"></div>
      <div class="ordercontainer_text"></div>
    </div>
  </main>
  <footer class="footer">
    <p>COPYRIGHT © 2021 台北一日遊</p>
  </footer>
</body>

</html>